.vs/
x64/
x86/
Debug/
Release/
*.user
*.suo
*.db
*.opendb
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.ilk
*.pdb
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.tmp
*.log
*.bak
*.swp
build/
Build/
build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
Testing/
.cache/
